---
import HeroSection from "../components/about/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";
---

<Layout title="About | Build Finance">
  <Section>
    <HeroSection />
  </Section>
</Layout>

<style></style>
