---
import Section from "../../layouts/Section.astro";
import Paragraph from "../ui/Paragraph.astro";
import SubHeading from "../ui/SubHeading.astro";

const path = Astro.url;
---

<Section>
  <div
    class="max-h-[100rem] flex flex-col justify-center gap-[17rem] py-[5rem]"
  >
    <div class="flex flex-col items-center gap-[2.25rem]">
      <Paragraph text="Trusted by Smart Businesses like" />

      <div class="flex items-center gap-[7.3rem]">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="201"
          height="63"
          viewBox="0 0 201 63"
          fill="none"
        >
          <path
            d="M140.346 5.36523C137.327 6.96001 134.487 9.08639 132.356 11.5672C127.917 16.3515 125.431 21.6674 127.385 23.085C128.095 23.6166 129.693 23.7938 132.711 20.9587C135.552 18.4779 137.683 15.4655 139.103 12.0988C141.056 7.49161 140.346 5.36523 140.346 5.36523ZM164.138 13.8707C159.344 11.39 155.793 8.3776 152.064 6.42842C148.336 4.47924 146.383 3.94765 143.542 4.30204C143.187 4.30204 142.832 4.47924 142.299 4.65644C142.299 4.65644 143.719 9.61798 138.038 17.9463C132.178 26.2746 126.852 26.4518 125.431 24.1482C124.011 21.8446 125.964 16.7059 129.338 12.276C132.178 8.90919 135.552 6.07402 139.281 3.77045C139.281 3.77045 137.327 2.53006 132.356 5.36523C124.011 10.504 116.909 17.4147 111.582 25.3886C103.948 36.3749 102.35 42.3996 101.284 47.0068C100.219 51.7911 101.107 56.7527 106.433 56.7527C111.76 56.7527 117.797 48.7787 119.572 45.9436C122.768 40.8048 124.899 32.8309 120.46 33.8941C118.329 34.4257 116.554 36.7293 115.489 39.0328C114.778 40.4504 114.246 42.0452 113.891 43.64C112.293 44.3488 110.872 45.0576 109.629 46.1208C108.209 47.184 106.788 48.4243 105.546 49.6647C105.901 46.1208 106.966 42.754 108.564 39.7416C110.695 34.9573 115.133 31.5905 120.282 30.5273C123.123 30.3501 126.852 32.6537 123.656 41.5136C120.46 50.3735 111.405 61.1826 101.639 61.1826C92.7618 61.3598 86.9026 50.0191 99.3312 30.173C113.003 8.37759 128.982 1.64407 134.309 0.935281C139.636 0.226489 141.234 2.53006 141.234 2.53006C144.43 1.28968 147.803 0.758083 151.177 0.935281C157.568 1.28968 162.54 5.89682 169.109 9.08639C167.334 10.504 165.736 12.276 164.138 13.8707ZM192.901 6.42842C188.463 9.26359 182.426 11.9216 176.567 11.2128C175.146 12.8075 173.548 14.5795 171.95 16.5287C182.248 18.4779 191.126 12.276 195.92 6.78282C197.695 4.83364 199.116 2.70726 200.359 0.403687C197.873 2.88446 195.565 4.83364 192.901 6.42842ZM179.407 35.1345C179.407 34.9573 179.585 34.7801 179.585 34.7801C179.585 34.2485 179.23 33.8941 178.697 33.8941C177.632 33.8941 176.389 34.0713 173.016 37.7925C170.175 40.982 167.689 44.526 165.558 48.2471C163.605 51.7911 162.717 54.6263 163.96 55.3351C164.315 55.5123 164.848 55.5123 165.203 55.5123C165.913 55.3351 166.801 54.6263 168.222 53.0315C168.754 52.3227 169.642 51.2595 170.352 50.1963C172.483 47.184 178.165 37.2609 179.407 35.1345ZM143.187 39.3872C143.719 37.7925 144.43 34.9573 143.009 33.7169C141.411 32.4765 137.15 35.3117 137.15 38.3241C137.327 40.4504 138.748 42.3996 140.878 42.9312C141.234 43.1084 141.411 43.1084 141.589 42.754C142.121 41.6908 142.654 40.6276 143.187 39.3872ZM139.991 45.0576C138.925 44.526 138.038 43.9944 137.15 43.2856C136.262 42.5768 135.552 41.6908 135.019 40.6276C135.019 40.4504 134.842 40.6276 134.842 40.6276C133.954 41.6908 133.066 42.9312 132.356 44.1716C130.048 47.5384 126.674 54.2719 129.87 55.3351C131.823 56.0439 135.197 52.6771 136.972 50.1963C138.215 48.6015 139.281 46.8296 140.346 45.0576C140.168 45.0576 140.168 45.0576 139.991 45.0576ZM175.324 52.8543C174.436 54.2719 173.548 56.7527 176.389 55.1579C179.762 53.2087 184.734 45.7664 184.734 45.7664H186.865C184.911 48.7787 182.603 51.7911 180.295 54.4491C176.922 58.1702 172.66 61.7142 169.642 61.3598C166.091 61.0054 167.334 56.3983 167.334 56.3983C167.334 56.3983 162.362 61.7142 158.989 61.3598C154.372 60.8282 155.793 55.1579 155.793 55.1579C155.793 55.1579 150.466 61.537 146.915 61.3598C141.234 61.0054 142.654 54.2719 144.252 49.4875C145.14 46.8296 145.85 44.8804 145.85 44.8804C145.85 44.8804 145.317 45.0576 144.074 45.2348C143.542 45.2348 142.299 45.412 142.299 45.412C142.299 45.412 139.991 49.4875 138.038 51.9683C136.085 54.4491 128.272 62.9546 123.656 61.1826C119.395 59.5878 120.815 53.0315 123.301 47.7156C127.029 40.096 137.15 29.1098 143.187 30.5273C149.046 31.9449 143.364 43.2856 143.364 43.2856C143.719 43.2856 144.074 43.2856 144.607 43.2856C145.317 43.1084 146.205 42.9312 146.915 42.5768C150.644 34.9573 154.905 27.8694 159.877 21.1359C166.624 12.6304 180.295 -1.89989 185.622 1.64407C186.865 2.53006 186.332 5.54243 184.556 9.08639C183.846 9.26359 182.958 9.61798 182.071 9.79518C182.958 8.2004 183.846 6.42842 184.201 4.65644C184.911 0.226489 174.791 9.44079 167.511 19.3639C163.073 25.3886 159.166 31.5905 155.793 38.3241C157.036 37.6153 158.456 36.5521 159.521 35.6661C162.717 33.0081 165.913 29.9958 168.754 26.9834C171.595 24.1482 174.258 21.1359 176.744 17.9463C177.454 17.9463 178.342 17.7691 179.052 17.7691C176.389 21.3131 173.548 24.857 170.352 28.0466C167.511 31.0589 164.315 34.0713 161.475 36.5521C158.989 38.6785 156.503 40.6276 153.84 42.2224C153.84 42.2224 147.448 54.9807 150.821 55.8667C152.952 56.3983 156.858 50.1963 156.858 50.1963C156.858 50.1963 162.185 42.2224 165.381 38.5013C169.642 33.5397 173.371 30.7045 177.099 30.7045C178.52 30.8817 179.762 31.7677 180.473 33.0081L181.538 31.4133H187.93C188.107 31.4133 176.389 51.2595 175.324 52.8543ZM192.901 6.42842C188.463 9.26359 182.426 11.9216 176.567 11.2128C175.146 12.8075 173.548 14.5795 171.95 16.5287C182.248 18.4779 191.126 12.276 195.92 6.78282C197.695 4.83364 199.116 2.70726 200.359 0.403687C197.873 2.88446 195.565 4.83364 192.901 6.42842ZM182.071 57.8158H182.958C183.136 57.8158 183.491 57.8158 183.669 57.8158C184.024 57.993 184.201 58.1702 184.024 58.5246C184.024 58.7018 183.846 58.879 183.669 59.0562C183.491 59.0562 183.491 59.2334 183.314 59.2334C183.491 59.2334 183.669 59.4106 183.846 59.5878C184.024 59.765 184.024 59.9422 184.024 59.9422V60.2966V60.4738H183.669V60.1194C183.669 59.765 183.669 59.5878 183.491 59.4106C183.314 59.4106 183.136 59.2334 182.958 59.2334H182.603V60.2966H182.071V57.8158ZM183.669 58.5246C183.669 58.3474 183.669 58.1702 183.491 58.1702C183.314 58.1702 183.136 57.993 182.958 57.993H182.603V59.0562H182.958C183.136 59.0562 183.314 59.0562 183.491 59.0562C183.669 59.0562 183.669 58.879 183.669 58.5246ZM185.444 59.2334C185.444 60.2966 184.734 61.3598 183.669 61.7142C182.603 62.0686 181.36 61.537 180.828 60.4738C180.295 59.4106 180.473 58.1702 181.183 57.4614C182.248 56.5755 183.669 56.5755 184.734 57.4614C185.267 57.8158 185.444 58.5246 185.444 59.2334ZM182.958 56.9299C182.426 56.9299 181.893 57.107 181.36 57.6386C181.005 57.993 180.65 58.5246 180.65 59.2334C180.65 59.765 180.828 60.2966 181.36 60.8282C181.716 61.1826 182.248 61.537 182.958 61.3598C183.491 61.3598 184.201 61.1826 184.556 60.8282C184.912 60.4738 185.267 59.765 185.267 59.2334C185.267 58.7018 185.089 58.1702 184.556 57.6386C184.201 57.2842 183.669 57.1071 182.958 56.9299ZM104.658 16.3515H98.621L95.2475 21.6674H101.284L104.658 16.3515ZM76.2494 35.1345C78.7352 31.5905 85.8373 19.5411 85.8373 19.5411C85.8373 19.0095 85.3046 18.6551 84.9495 18.6551C84.0617 18.6551 82.2862 19.0095 79.0903 22.9078C76.2494 26.2746 73.7637 29.6414 71.6331 33.5397C69.68 37.0837 68.7922 39.7416 69.8575 40.4504C70.2126 40.6276 70.7453 40.6276 71.1004 40.6276C72.3433 40.096 73.5861 39.21 74.2963 38.1469C74.829 37.2609 75.5392 36.1977 76.2494 35.1345ZM44.1124 18.6551C42.5145 17.4147 38.2532 20.2499 38.2532 23.2622C38.2532 26.2746 41.9818 27.3378 42.5145 27.3378C42.692 27.3378 43.0471 27.3378 43.0471 27.1606C43.2247 26.9834 43.5798 25.9202 44.29 24.5026C45.0002 22.9078 45.7104 19.8955 44.1124 18.6551ZM41.8043 29.287C40.5614 28.9326 39.4961 28.401 38.4308 27.8694C37.543 27.1606 36.6552 26.2746 36.1226 25.3886C36.1226 25.2114 35.945 25.3886 35.945 25.3886C35.945 25.3886 35.5899 25.9202 33.2817 29.287C30.9736 32.4765 27.7776 39.3872 30.796 40.4504C32.7491 41.1592 36.1226 37.6153 37.8981 35.3117C39.3185 33.5397 40.5614 31.5905 41.6267 29.6414C41.8043 29.287 41.8043 29.287 41.8043 29.287ZM90.4536 31.2361H92.5842C92.5842 31.2361 81.576 47.0068 75.3617 46.298C71.9882 45.9436 72.8759 41.6908 72.8759 41.6908C72.8759 41.6908 68.082 47.3612 63.6432 46.298C59.7371 45.2348 62.4003 38.5013 62.4003 38.5013C61.8677 38.6785 53.1676 48.6015 46.9533 46.1208C40.7389 43.64 43.7573 35.3117 45.1777 32.8309C46.2431 30.7045 47.3084 28.7554 47.3084 28.7554C47.3084 28.7554 46.2431 29.1098 45.7104 29.1098L44.1124 29.4642C44.1124 29.4642 41.094 34.4257 39.141 36.9065C37.1879 39.3872 29.3756 47.8927 24.7592 46.1208C20.1429 44.3488 21.2082 37.9697 23.8715 32.8309C28.1327 24.3254 38.2532 14.0479 44.29 15.6427C50.3268 17.2375 45.3553 27.1606 45.3553 27.1606C45.3553 27.1606 46.5982 27.3378 49.439 25.3886C53.7003 22.5534 59.2044 14.7567 65.2412 15.6427C68.082 15.9971 70.7453 19.0095 67.0167 24.5026C65.7738 26.2746 63.9983 27.8694 62.4003 26.2746C61.5126 25.3886 62.2228 23.6166 63.2881 22.3762C63.9983 21.3131 65.2412 20.7815 66.484 20.9587C66.484 20.9587 67.5494 18.6551 64.8861 18.6551C62.7554 18.6551 57.6064 23.4394 54.7656 28.2238C52.1023 32.6537 48.0186 40.096 52.1023 41.868C55.8309 43.2856 62.933 34.9573 66.3065 30.5273C69.68 26.0974 77.1372 15.9971 83.3515 15.6427C84.7719 15.6427 86.0148 16.3515 86.725 17.4147L87.4352 16.1743H93.8271C93.8271 16.1743 81.9311 36.0205 81.0433 37.4381C80.3331 38.6785 79.2678 41.3364 82.1087 39.7416C84.9495 38.1469 90.6312 31.2361 90.4536 31.2361ZM87.2577 62.9546C82.6413 59.765 76.9596 58.1702 71.4555 58.3474C68.4371 58.3474 65.4187 59.9422 63.6432 62.6002C61.335 58.3474 56.5411 55.8667 49.0839 55.8667C37.1879 56.0439 25.4694 61.537 16.0592 61.537C7.18153 61.537 0.612095 55.8667 0.789647 45.9436C1.14475 28.401 16.0592 12.6303 27.0674 5.54243C33.4593 1.46687 38.7859 0.226488 42.1594 0.580884C43.7573 0.758082 45.1777 1.82127 46.0655 3.41605C46.7757 4.83364 46.7757 6.60562 45.888 8.2004C43.0471 14.5795 39.141 14.0479 39.3185 11.0356C39.4961 9.44078 40.3838 8.0232 41.6267 7.13721C42.3369 6.78281 43.0471 6.60562 43.9349 6.60562C44.4675 6.07402 45.0002 2.70726 40.3838 3.77045C35.7675 4.83364 30.2633 9.44079 25.1143 15.1111C19.9653 20.7815 11.7979 31.7677 9.66727 43.2856C8.77951 48.6015 9.31217 58.3474 21.9184 58.1702C32.5715 58.1702 48.3737 51.0823 62.933 51.2595C67.9045 51.2595 72.8759 52.4999 77.3147 55.1579C81.0433 57.1071 84.4168 59.765 87.2577 62.9546Z"
            fill="black"></path>
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="240"
          height="56"
          viewBox="0 0 240 56"
          fill="none"
        >
          <path
            d="M119.459 34.1616C119.459 27.8014 124.61 22.6643 130.989 22.6643C137.367 22.6643 142.518 27.8014 142.518 34.1616C142.518 40.5218 137.367 45.6589 130.989 45.6589C124.61 45.6589 119.459 40.6441 119.459 34.1616ZM166.559 34.1616C166.559 27.8014 171.711 22.6643 178.089 22.6643C184.467 22.6643 189.619 27.8014 189.619 34.1616C189.619 40.5218 184.467 45.6589 178.089 45.6589C171.711 45.7812 166.559 40.6441 166.559 34.1616ZM57.2715 34.1616C57.2715 27.8014 62.4231 22.6643 68.8013 22.6643C75.1795 22.6643 80.3311 27.8014 80.3311 34.1616C80.3311 40.5218 75.1795 45.6589 68.8013 45.6589C62.4231 45.7812 57.2715 40.6441 57.2715 34.1616ZM10.171 34.1616C10.171 27.8014 15.3226 22.6643 21.7008 22.6643C28.079 22.6643 33.2306 27.8014 33.2306 34.1616C33.2306 40.5218 28.079 45.6589 21.7008 45.6589C15.3226 45.7812 10.171 40.6441 10.171 34.1616ZM105.476 13.7356H95.418V54.0984H105.476V13.7356ZM33.2306 54.2207H43.2885V13.8579H33.2306V17.1603C29.7962 14.8364 25.7485 13.491 21.2102 13.491C9.68037 13.3687 0.358398 22.6643 0.358398 34.1616C0.358398 45.7812 9.68037 55.0769 21.3328 55.0769C25.7485 55.0769 29.9189 53.7314 33.3533 51.4075V54.2207H33.2306ZM189.619 54.2207H199.677V13.8579H189.619V17.1603C186.185 14.8364 182.137 13.491 177.599 13.491C166.069 13.491 156.624 22.7867 156.624 34.4062C156.624 46.0258 165.946 55.3215 177.599 55.3215C182.014 55.3215 186.185 53.9761 189.619 51.6521V54.2207ZM203.357 41.1334C203.725 49.3282 210.593 55.0769 222.369 55.0769C231.936 55.0769 239.786 50.9183 239.786 41.8672C239.786 35.507 236.229 31.8377 228.011 30.2477L221.633 29.0245C217.462 28.2907 214.641 27.4345 214.641 24.9883C214.641 22.2974 217.462 21.0743 220.897 21.0743C225.926 21.0743 228.011 23.6428 228.133 26.5783H238.314C237.701 18.6281 231.445 13.3687 221.142 13.3687C210.593 13.3687 204.338 19.1173 204.338 26.7006C204.338 35.874 211.82 37.3417 218.198 38.5648L223.472 39.5433C227.275 40.2772 228.992 41.378 228.992 43.5796C228.992 45.5366 227.029 47.4936 222.614 47.4936C215.99 47.4936 213.905 44.0688 213.782 41.1334H203.357ZM80.3311 0.0367432V17.038C76.8967 14.7141 72.849 13.3687 68.3107 13.3687C56.7809 13.3687 47.3362 22.6643 47.3362 34.2839C47.4589 45.7812 56.7809 55.0769 68.4333 55.0769C72.849 55.0769 77.0194 53.7314 80.4538 51.4075V54.2207H90.5117V0.0367432H80.3311ZM142.518 0.0367432V17.038C139.084 14.7141 135.036 13.3687 130.498 13.3687C118.968 13.3687 109.524 22.6643 109.524 34.2839C109.524 45.9035 118.846 55.1992 130.498 55.1992C134.914 55.1992 139.084 53.8537 142.518 51.5298V54.343H152.576V0.0367432H142.518ZM95.418 0.0367432V10.0663H105.476V0.0367432"
            fill="black"></path>
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="166"
          height="101"
          viewBox="0 0 166 101"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M40.4068 68.2005H36.3133V79.5329L32.0877 82.6914V68.2005H28.125V84.5426H31.6913L36.3133 81.1094V84.5426H40.4068V68.2005Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M50.7088 68.2005H46.7461V84.5426H55.0666V83.3561H50.7088V68.2005Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M21.7846 84.5385H17.8233V67.0139L13.4655 70.1725V84.5385H9.63493V67.0139L5.27717 70.1725V84.5385H1.31445V64.6423H5.27717V68.3323L10.1635 64.6423H13.4669V68.3323L18.484 64.6423H21.7874L21.7846 84.5385Z"
            fill="black"></path>
          <path
            d="M71.4424 68.2005H75.4051V84.408H71.4424V68.2005Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M54.9346 68.2005H67.873V69.387H63.3872V84.5426H59.4245V69.387H54.9346V68.2005Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M81.7432 67.2776C81.7432 65.697 83.5917 64.6423 85.4416 64.6423H91.5158V68.2005H89.9315V66.0911H85.7059V83.0896H87.5544C88.1442 83.1044 88.7176 82.8953 89.1589 82.5045C89.6001 82.1137 89.8762 81.5705 89.9315 80.9844V79.7979H91.5158V80.9844C91.4209 81.9533 90.9569 82.8488 90.2195 83.4863C89.4822 84.1239 88.5277 84.4548 87.553 84.4108H81.7432V67.2776Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M96.0068 68.2005H99.9682V75.4473L104.194 72.2888V68.2005H108.287V84.5426H104.195V73.8667L99.9696 77.0252V84.5426H96.0068V68.2005Z"
            fill="black"></path>
          <path
            d="M133.118 68.2005H137.081V84.408H133.118V68.2005Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M147.382 69.387V83.4852H148.572C149.761 83.4852 150.684 82.826 150.684 81.9045V80.5862H152.136V81.9045C152.136 83.4852 150.42 84.5399 148.57 84.5399H143.552V70.3085C143.552 69.122 145.136 68.3323 146.061 68.3323H152.136V71.3632H150.684V69.387H147.382Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M156.891 68.2005H165.211V69.387H160.853V74.655H164.42V75.7096H160.853V83.352H165.211V84.5426H156.891V68.2005Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M118.459 69.387H122.817V83.4852H118.459V69.387ZM124.006 68.2005H117.399C115.947 68.2005 114.626 69.1233 114.626 70.3085V82.4305C114.626 83.4852 115.683 84.5385 117.399 84.5385H124.134C125.324 84.5385 126.776 83.4838 126.776 82.4305V70.3085C126.778 69.2552 125.458 68.2005 124.005 68.2005H124.006Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M82.6679 1L70.6504 13.7812L82.6679 59.7685V1Z"
            fill="black"></path>
          <path
            d="M82.6679 1L70.6504 13.7812L82.6679 59.7685V1Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M23.3691 13.6494L25.3498 28.6704L80.4219 59.8989L23.3691 13.6494Z"
            fill="black"></path>
          <path
            d="M23.3691 13.6494L25.3498 28.6704L80.4219 59.8989L23.3691 13.6494Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M80.4219 59.8989L43.575 19.711L23.3691 13.6494L80.4219 59.8989Z"
            fill="black"></path>
          <path
            d="M80.4219 59.8989L43.575 19.711L23.3691 13.6494L80.4219 59.8989Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M78.4425 60.1627L22.1813 29.7251L0.786133 30.2524L78.4425 60.1627Z"
            fill="black"></path>
          <path
            d="M78.4425 60.1627L22.1813 29.7251L0.786133 30.2524L78.4425 60.1627Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0.786133 30.251L6.06885 41.5834L78.4425 60.1626L0.786133 30.251Z"
            fill="black"></path>
          <path
            d="M0.786133 30.251L6.06885 41.5834L78.4425 60.1626L0.786133 30.251Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M51.897 4.16132L47.0107 18.6564L81.6126 59.7671L51.897 4.16132Z"
            fill="black"></path>
          <path
            d="M51.897 4.16132L47.0107 18.6564L81.6126 59.7671L51.897 4.16132Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M81.6121 59.7671L66.821 14.3113L51.8965 4.16132L81.6121 59.7671Z"
            fill="black"></path>
          <path
            d="M81.8523 59.9187L67.0613 14.4629L52.1367 4.31293L81.8523 59.9187Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M82.668 1L94.5548 13.7812L82.668 59.7685V1Z"
            fill="black"></path>
          <path
            d="M82.668 1L94.5548 13.7812L82.668 59.7685V1Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M141.703 13.6494L139.854 28.6704L85.0449 59.8989L141.703 13.6494Z"
            fill="black"></path>
          <path
            d="M141.703 13.6494L139.854 28.6704L85.0449 59.8989L141.703 13.6494Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M85.0449 59.8989L121.363 19.711L141.703 13.6494L85.0449 59.8989Z"
            fill="black"></path>
          <path
            d="M85.0449 59.8989L121.363 19.711L141.703 13.6494L85.0449 59.8989Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M86.8936 60.1627L143.419 29.7251L165.079 30.1206L86.8936 60.1627Z"
            fill="black"></path>
          <path
            d="M86.8936 60.1627L143.419 29.7251L165.079 30.1206L86.8936 60.1627Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M165.074 30.1205L159.527 41.5848L86.8936 60.164L165.074 30.1205Z"
            fill="black"></path>
          <path
            d="M165.074 30.1205L159.527 41.5848L86.8936 60.164L165.074 30.1205Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M112.906 4.16132L117.66 18.6564L83.7256 59.7671L112.906 4.16132Z"
            fill="black"></path>
          <path
            d="M112.906 4.16132L117.66 18.6564L83.7256 59.7671L112.906 4.16132Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M83.7256 59.7671L98.5166 14.3113L112.906 4.16132L83.7256 59.7671Z"
            fill="black"></path>
          <path
            d="M83.7256 59.7671L98.5166 14.3113L112.906 4.16132L83.7256 59.7671Z"
            stroke="black"
            stroke-width="0.720328"
            stroke-miterlimit="3.864"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M29.8408 92.314V100.22H32.6143V99.2972H30.8979V96.6619H32.4822V95.739H30.8979V93.2369H32.6143V92.314H29.8408Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M38.0291 94.1583V94.021L39.8777 100.215H40.9348V92.314H39.8777V95.0812L40.1419 98.2398V98.3771L38.1613 92.314H37.2363V100.22H38.2934V97.321L38.1558 94.6857L38.0291 94.1583Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M47.0105 95.7404V93.105H47.1482C47.941 93.105 48.0731 93.7642 48.0731 94.4234C48.0663 95.3462 47.802 95.8722 47.0105 95.7404ZM45.9589 100.22H47.016V96.2664L48.4682 100.22H49.5252L48.0662 96.2664C48.9912 96.129 49.1233 94.9494 49.1233 94.1583C49.1233 92.1822 47.9341 92.0504 47.1427 92.0504H45.8213V100.22H45.9589Z"
            fill="black"></path>
          <path d="M54.0098 92.314H55.0669V100.352H54.0098V92.314Z" fill="black"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M63.2561 92.4459C62.9754 92.2807 62.657 92.1899 62.3312 92.1823C60.2184 92.1823 59.9541 94.8176 59.9541 96.3983C59.9541 98.1107 60.2184 100.351 62.4633 100.351C62.6068 100.369 62.7526 100.355 62.8899 100.309C63.0271 100.263 63.1523 100.187 63.2561 100.087V99.1641C63.0538 99.2724 62.8244 99.3201 62.5955 99.3014C61.1433 99.3014 61.0112 97.3252 61.0112 96.2705C61.0112 95.2158 61.0112 93.112 62.4633 93.112C62.7083 93.1169 62.9432 93.2106 63.124 93.3756V92.4528L63.2561 92.4459Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M67.7451 92.314V100.22H68.8022V96.2677H70.3865V100.22H71.4436V92.314H70.3865V95.3449H68.8022V92.314H67.7451Z"
            fill="black"></path>
          <path d="M76.46 92.314H77.517V100.352H76.46V92.314Z" fill="black"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M83.4611 94.1583V94.021L85.3096 100.215H86.2346V92.314H85.1775V95.0812L85.4418 98.2398V98.3771L83.5932 92.314H82.5361V100.22H83.5932V97.321L83.4556 94.6857L83.4611 94.1583Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M93.2336 96.0041V96.9269H94.1586V97.3224C94.1586 99.1667 93.63 99.2986 93.2336 99.2986C92.7051 99.2986 92.3087 99.0349 92.3087 96.2677C92.3087 94.2916 92.3087 93.1092 93.2336 93.1092C93.8943 93.1092 94.0264 93.6365 94.1586 94.1639L95.2157 93.7683C95.1908 93.534 95.1197 93.3068 95.0065 93.1C94.8932 92.8932 94.74 92.7108 94.5558 92.5633C94.3715 92.4159 94.1598 92.3063 93.9329 92.2409C93.706 92.1755 93.4683 92.1555 93.2336 92.1822C91.3906 92.1822 91.2529 94.0265 91.2529 96.2664C91.2529 98.5062 91.5172 100.351 93.3657 100.351C95.4785 100.351 95.2143 97.7152 95.2143 96.1345V95.9972L93.2336 96.0041Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M105.779 92.314V100.22H108.685V99.2972H106.836V92.314H105.779Z"
            fill="black"></path>
          <path d="M113.045 92.314H114.102V100.352H113.045V92.314Z" fill="black"
          ></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M118.459 92.314L120.043 100.22H120.968L122.42 92.314H121.495L120.967 95.0812L120.57 97.7165V98.2439H120.433L119.516 92.314H118.459Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M126.91 92.314V100.22H129.816V99.2972H127.967V96.6619H129.552V95.739H127.967V93.2369H129.816V92.314H126.91Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M136.817 92.4458C136.464 92.2208 136.043 92.1274 135.628 92.1822C135.363 92.1846 135.101 92.2429 134.86 92.3533C134.619 92.4637 134.404 92.6237 134.23 92.8228C134.055 93.0218 133.925 93.2555 133.847 93.5084C133.769 93.7613 133.746 94.0277 133.779 94.2902C133.779 96.3982 136.024 96.6618 136.024 98.2439C136.024 98.903 135.76 99.2985 135.099 99.2985C134.709 99.3091 134.329 99.1672 134.042 98.903V99.9577C134.38 100.224 134.801 100.364 135.231 100.353C135.496 100.351 135.758 100.292 135.999 100.182C136.24 100.072 136.455 99.9117 136.629 99.7126C136.804 99.5136 136.934 99.2799 137.012 99.027C137.089 98.7741 137.113 98.5077 137.08 98.2452C137.078 97.7853 136.969 97.3321 136.763 96.9208C136.557 96.5095 136.258 96.1511 135.891 95.8736L135.098 94.9507C134.987 94.8263 134.906 94.6789 134.861 94.5192C134.815 94.3595 134.806 94.1916 134.833 94.0279C134.823 93.7674 134.913 93.5129 135.085 93.3167C135.257 93.1205 135.498 92.9976 135.758 92.9732C135.932 92.9683 136.105 93.0011 136.265 93.0694C136.424 93.1377 136.567 93.2398 136.683 93.3687L136.817 92.4458Z"
            fill="black"></path>
        </svg>
      </div>
    </div>

    <div class="flex flex-col items-center gap-[1.625rem]">
      <SubHeading text="Financing tools have been too complicated" />
      <Paragraph
        text="We have created an exciting new and most importantly simple and easy to use tool for all your financial documentation. Invoicing, transaction tracking, documentation all captured in a simple and efficient way just for you. Block ensures that you are not lost in doing what should be simple financial tasks. This is what Block offers:"
        maxWidth="60rem"
        textAlign="center"
        lineHeight="162%"
      />
    </div>

    {path.pathname}
  </div>
</Section>
