---
import CustomButton from "./ui/CustomButton.astro";

export type route = {
  name: string;
  route?: string | null;
};

const routes: route[] = [
  { name: "About Us", route: "About" },
  { name: "Solutions", route: "Solutions" },
  { name: "Features", route: null },
  { name: "Developers", route: null },
];

const path = Astro.url;
---

<div
  class="w-full py-[40px] px-[60px] cursor-pointer flex items-center justify-between text-[0.875rem] font-[500] absolute top-0 w-full !z-10 !font-[sans-medium]"
>
  <a href={`/`}>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="160"
      height="17"
      viewBox="0 0 160 17"
      fill="none"
    >
      <path
        d="M16.3622 16V0.81689H22.4571C24.0333 0.81689 25.2335 1.18562 26.0577 1.92309C26.8964 2.64609 27.3157 3.57877 27.3157 4.72112C27.3157 5.67549 27.0554 6.44187 26.5349 7.02028C26.0288 7.58422 25.407 7.96742 24.6695 8.16986C25.5371 8.34338 26.2529 8.77718 26.8168 9.47127C27.3808 10.1509 27.6628 10.9462 27.6628 11.8572C27.6628 13.0574 27.229 14.0479 26.3613 14.8287C25.4937 15.6096 24.2646 16 22.674 16H16.3622ZM19.1385 7.1938H22.045C22.8258 7.1938 23.4259 7.01305 23.8453 6.65155C24.2646 6.29004 24.4743 5.77671 24.4743 5.11154C24.4743 4.4753 24.2646 3.97643 23.8453 3.61492C23.4404 3.23896 22.8258 3.05098 22.0016 3.05098H19.1385V7.1938ZM19.1385 13.7442H22.2402C23.0644 13.7442 23.7007 13.5563 24.149 13.1803C24.6117 12.7899 24.843 12.2476 24.843 11.5535C24.843 10.845 24.6044 10.2883 24.1273 9.88338C23.6501 9.4785 23.0066 9.27606 22.1968 9.27606H19.1385V13.7442Z"
        fill="#353535"></path>
      <path d="M29.9806 16V0.383087H32.7569V16H29.9806Z" fill="#353535"></path>
      <path
        d="M40.756 16.2603C39.7149 16.2603 38.775 16.0217 37.9363 15.5445C37.112 15.0673 36.4541 14.4094 35.9625 13.5707C35.4853 12.7176 35.2467 11.7343 35.2467 10.6208C35.2467 9.50742 35.4925 8.53136 35.9842 7.69267C36.4758 6.83953 37.1337 6.17436 37.958 5.69718C38.7966 5.21999 39.7366 4.9814 40.7777 4.9814C41.8044 4.9814 42.7298 5.21999 43.554 5.69718C44.3927 6.17436 45.0506 6.83953 45.5278 7.69267C46.0195 8.53136 46.2653 9.50742 46.2653 10.6208C46.2653 11.7343 46.0195 12.7176 45.5278 13.5707C45.0506 14.4094 44.3927 15.0673 43.554 15.5445C42.7153 16.0217 41.7827 16.2603 40.756 16.2603ZM40.756 13.8527C41.479 13.8527 42.108 13.5852 42.643 13.0501C43.1781 12.5007 43.4456 11.6909 43.4456 10.6208C43.4456 9.5508 43.1781 8.74826 42.643 8.21324C42.108 7.66375 41.4862 7.38901 40.7777 7.38901C40.0402 7.38901 39.404 7.66375 38.8689 8.21324C38.3484 8.74826 38.0881 9.5508 38.0881 10.6208C38.0881 11.6909 38.3484 12.5007 38.8689 13.0501C39.404 13.5852 40.033 13.8527 40.756 13.8527Z"
        fill="#353535"></path>
      <path
        d="M54.0183 16.2603C52.9194 16.2603 51.9506 16.0217 51.1119 15.5445C50.2732 15.0673 49.608 14.4022 49.1164 13.549C48.6392 12.6959 48.4006 11.7198 48.4006 10.6208C48.4006 9.52188 48.6392 8.54582 49.1164 7.69267C49.608 6.83953 50.2732 6.17436 51.1119 5.69718C51.9506 5.21999 52.9194 4.9814 54.0183 4.9814C55.3921 4.9814 56.5489 5.34291 57.4888 6.06591C58.4287 6.77446 59.0288 7.75774 59.2891 9.01577H56.3609C56.2163 8.49521 55.9271 8.09033 55.4933 7.80113C55.0739 7.49746 54.5751 7.34563 53.9967 7.34563C53.2303 7.34563 52.5796 7.63483 52.0445 8.21324C51.5095 8.79164 51.242 9.59418 51.242 10.6208C51.242 11.6475 51.5095 12.4501 52.0445 13.0285C52.5796 13.6069 53.2303 13.8961 53.9967 13.8961C54.5751 13.8961 55.0739 13.7515 55.4933 13.4623C55.9271 13.1731 56.2163 12.7609 56.3609 12.2259H59.2891C59.0288 13.4406 58.4287 14.4166 57.4888 15.1541C56.5489 15.8916 55.3921 16.2603 54.0183 16.2603Z"
        fill="#353535"></path>
      <path
        d="M61.7533 16V0.383087H64.5296V9.60141L68.3471 5.24168H71.644L67.2409 10.1437L72.3598 16H68.8893L64.5296 10.5992V16H61.7533Z"
        fill="#353535"></path>
      <path
        d="M79.3145 16V0.81689H89.1185V3.05098H82.0908V7.30225H87.7737V9.49296H82.0908V16H79.3145Z"
        fill="#353535"></path>
      <path
        d="M92.6926 3.57154C92.1865 3.57154 91.7671 3.41971 91.4346 3.11605C91.1164 2.81239 90.9574 2.42919 90.9574 1.96647C90.9574 1.50375 91.1164 1.12778 91.4346 0.83858C91.7671 0.534918 92.1865 0.383087 92.6926 0.383087C93.1987 0.383087 93.6108 0.534918 93.9289 0.83858C94.2615 1.12778 94.4278 1.50375 94.4278 1.96647C94.4278 2.42919 94.2615 2.81239 93.9289 3.11605C93.6108 3.41971 93.1987 3.57154 92.6926 3.57154ZM91.3044 16V5.24168H94.0808V16H91.3044Z"
        fill="#353535"></path>
      <path
        d="M96.9786 16V5.24168H99.4296L99.6465 7.06366C99.9791 6.42741 100.456 5.92131 101.078 5.54535C101.714 5.16938 102.459 4.9814 103.312 4.9814C104.642 4.9814 105.676 5.40075 106.414 6.23943C107.151 7.07812 107.52 8.30723 107.52 9.92676V16H104.744V10.187C104.744 9.2616 104.556 8.55305 104.18 8.06141C103.804 7.56976 103.218 7.32394 102.423 7.32394C101.642 7.32394 100.999 7.59868 100.492 8.14817C100.001 8.69765 99.7549 9.46404 99.7549 10.4473V16H96.9786Z"
        fill="#353535"></path>
      <path
        d="M113.884 16.2603C112.958 16.2603 112.199 16.1157 111.606 15.8265C111.014 15.5228 110.573 15.1252 110.283 14.6335C109.994 14.1419 109.85 13.5996 109.85 13.0068C109.85 12.009 110.24 11.1993 111.021 10.5775C111.802 9.95568 112.973 9.64479 114.535 9.64479H117.268V9.38451C117.268 8.64704 117.058 8.10479 116.639 7.75774C116.219 7.4107 115.699 7.23718 115.077 7.23718C114.513 7.23718 114.021 7.37455 113.602 7.64929C113.183 7.90958 112.922 8.3 112.821 8.82056H110.11C110.182 8.03972 110.442 7.36009 110.891 6.78169C111.353 6.20328 111.946 5.76225 112.669 5.45859C113.392 5.14046 114.202 4.9814 115.099 4.9814C116.631 4.9814 117.839 5.3646 118.721 6.13098C119.603 6.89737 120.044 7.98188 120.044 9.38451V16H117.68L117.419 14.2648C117.101 14.8432 116.653 15.3204 116.075 15.6963C115.511 16.0723 114.78 16.2603 113.884 16.2603ZM114.513 14.0913C115.308 14.0913 115.923 13.831 116.357 13.3104C116.805 12.7899 117.087 12.1464 117.202 11.38H114.838C114.101 11.38 113.573 11.5174 113.255 11.7921C112.937 12.0524 112.778 12.3778 112.778 12.7682C112.778 13.1875 112.937 13.5129 113.255 13.7442C113.573 13.9756 113.992 14.0913 114.513 14.0913Z"
        fill="#353535"></path>
      <path
        d="M122.693 16V5.24168H125.144L125.361 7.06366C125.694 6.42741 126.171 5.92131 126.793 5.54535C127.429 5.16938 128.174 4.9814 129.027 4.9814C130.357 4.9814 131.391 5.40075 132.129 6.23943C132.866 7.07812 133.235 8.30723 133.235 9.92676V16H130.458V10.187C130.458 9.2616 130.27 8.55305 129.894 8.06141C129.518 7.56976 128.933 7.32394 128.138 7.32394C127.357 7.32394 126.713 7.59868 126.207 8.14817C125.715 8.69765 125.47 9.46404 125.47 10.4473V16H122.693Z"
        fill="#353535"></path>
      <path
        d="M141.16 16.2603C140.061 16.2603 139.092 16.0217 138.254 15.5445C137.415 15.0673 136.75 14.4022 136.258 13.549C135.781 12.6959 135.543 11.7198 135.543 10.6208C135.543 9.52188 135.781 8.54582 136.258 7.69267C136.75 6.83953 137.415 6.17436 138.254 5.69718C139.092 5.21999 140.061 4.9814 141.16 4.9814C142.534 4.9814 143.691 5.34291 144.631 6.06591C145.571 6.77446 146.171 7.75774 146.431 9.01577H143.503C143.358 8.49521 143.069 8.09033 142.635 7.80113C142.216 7.49746 141.717 7.34563 141.139 7.34563C140.372 7.34563 139.721 7.63483 139.186 8.21324C138.651 8.79164 138.384 9.59418 138.384 10.6208C138.384 11.6475 138.651 12.4501 139.186 13.0285C139.721 13.6069 140.372 13.8961 141.139 13.8961C141.717 13.8961 142.216 13.7515 142.635 13.4623C143.069 13.1731 143.358 12.7609 143.503 12.2259H146.431C146.171 13.4406 145.571 14.4166 144.631 15.1541C143.691 15.8916 142.534 16.2603 141.16 16.2603Z"
        fill="#353535"></path>
      <path
        d="M154.123 16.2603C153.038 16.2603 152.076 16.0289 151.238 15.5662C150.399 15.1035 149.741 14.4528 149.264 13.6141C148.787 12.7754 148.548 11.8066 148.548 10.7076C148.548 9.59418 148.78 8.60366 149.242 7.73605C149.719 6.86845 150.37 6.19605 151.194 5.71887C152.033 5.22722 153.016 4.9814 154.144 4.9814C155.2 4.9814 156.132 5.21276 156.942 5.67549C157.752 6.13821 158.381 6.77446 158.829 7.58422C159.292 8.37953 159.523 9.26883 159.523 10.2521C159.523 10.4112 159.516 10.5775 159.502 10.751C159.502 10.9245 159.494 11.1053 159.48 11.2932H151.303C151.361 12.1319 151.65 12.7899 152.17 13.267C152.705 13.7442 153.349 13.9828 154.101 13.9828C154.665 13.9828 155.135 13.8599 155.511 13.6141C155.901 13.3538 156.19 13.0212 156.378 12.6163H159.198C158.996 13.296 158.656 13.9178 158.179 14.4817C157.716 15.0312 157.137 15.465 156.443 15.7831C155.764 16.1012 154.99 16.2603 154.123 16.2603ZM154.144 7.23718C153.465 7.23718 152.865 7.43239 152.344 7.82282C151.823 8.19878 151.491 8.77718 151.346 9.55803H156.704C156.66 8.84948 156.4 8.28554 155.923 7.8662C155.446 7.44685 154.853 7.23718 154.144 7.23718Z"
        fill="#353535"></path>
      <path
        d="M0 0.98117H9.76058V11.4976H6.37149V4.40154H0V0.98117Z"
        fill="#353535"></path>
    </svg>
  </a>

  <div class="flex items-center gap-[25px]">
    {
      routes?.map((route) => (
        <a
          href={route.route && `/${route.route?.toLowerCase()}`}
          class={`text-[#A2A2A2] text-[0.875rem] font-[500]  hover:text-[#353535] hover:font-bold
            
            ${path.pathname === `/${route.route && route.route?.toLowerCase()}` ? "text-[#151515]" : ""}
            `}
        >
          {route.name}
        </a>
      ))
    }
  </div>

  <div class="flex items-center gap-[1.375rem]">
    <p class="text-[#353535]">Sign In</p>
    <CustomButton text="Get Started" />
  </div>
</div>
