---
interface Props {
  text: string;
  maxWidth?: string;
  textAlign?: string;
}

const { text, maxWidth, textAlign = "left" } = Astro.props;

console.log(Astro.props);
---

<div>
  <h1
    style=`max-width: ${maxWidth}; text-align:${textAlign}`
    class={`text-[3.25rem] font-[500] font-[sans-bold] text-[#353535] leading-[normal] `}
  >
    {text}
  </h1>
</div>
